<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dynamic_rl)/config/pole_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/pole" args="joint1_effort_controller joint2_effort_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/pole/joint_states" />
  </node>

  <!---->
  <node name="coordinate_reader" pkg="dynamic_rl" type="end_effector_pub.py"/>

</launch>